
/* Your CSS Code here. */
 .container{
            border: 15px solid blue;
            padding: 50px;
            background-color: lightblue;
            margin: 20px;
            width: 300px;
            outline: 1px solid black;
            outline-offset: 20px;
            display: inline-block;
        }